/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
/* thanks Neocities for that explenation btw */
/* also if someone could fix this that would be fantastic. cause currently. it isnt working so well. the style is just in index.html. and thats not good. */
body {
  background-color: black;
  color: white;
  font-family: Verdana;
  text-align: center;
}
